.root:global(.__wab_instance) {
  position: relative;
  background: linear-gradient(243.22157861940968deg, #a0b4ed 0%, #315bd8 100%);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-BtJUFoqOYdFj);
  font-family: var(--token-UuLYdA5YPbBv);
  font-size: var(--token-QXDYlPPMOxLK);
  line-height: var(--token-zcjqTmxgOQg-);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token--_RwrJOzjwyk);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-BCfRH44nairB);
  outline-offset: 1px;
  outline-color: var(--token-5OLWd1c5Vfn5);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-BDqDXXh-SZTK);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-WDK0tjEv3sqJ);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-lShkcv6KN7je);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-7x60EjneggUO);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-SusWDKLPmgHQ);
}
.rootcolor_line:global(.__wab_instance) {
  background: none;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token--Oby3C0wAO95);
  font-size: var(--token-1MTvviNTmNI9);
  column-gap: var(--token-BCfRH44nairB);
  row-gap: 0px;
  border-radius: var(--token--sTl7eQd0o5m);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-1MTvviNTmNI9);
  line-height: var(--token--Oby3C0wAO95);
  column-gap: var(--token--sTl7eQd0o5m);
  row-gap: 0px;
  border-radius: var(--token--sTl7eQd0o5m);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-CPhmo_1cVh8n);
  line-height: var(--token-pTTfqCAOaDWr);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-CPhmo_1cVh8n);
  line-height: var(--token-pTTfqCAOaDWr);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-rVWmLrjupW7T);
  border-radius: var(--token--_RwrJOzjwyk);
}
.softBackgroundcolor_neutral {
  background: var(--token-Ob5pcXlXM2PB);
}
.softBackgroundcolor_muted {
  background: var(--token-09HLN4joyZU4);
}
.softBackgroundcolor_success {
  background: var(--token-Odi-ZWiG_YkN);
}
.softBackgroundcolor_warning {
  background: var(--token--Xpk-mT1Jjk1);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-ArDKDAXwl0vp);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token--_RwrJOzjwyk);
  border: 0px solid var(--token-lMVWPntosR4I);
}
.bordercolor_neutral {
  border-color: var(--token-XEHuUVWNtvyM);
}
.bordercolor_muted {
  border-color: var(--token-5gXcq2YPoeoC);
}
.bordercolor_success {
  border-color: var(--token-H9xDK6mjrI7O);
}
.bordercolor_warning {
  border-color: var(--token-7PVjsGiRSEva);
}
.bordercolor_errorDestructive {
  border-color: var(--token-suUFyFSvC_8O);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token--_RwrJOzjwyk);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-WB0Br83mHdx6);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-U7mA7Mea4RRE);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-p1KGzTeF36Ca);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__bGs3E {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token--_RwrJOzjwyk);
  min-width: 0;
  min-height: 0;
  padding: var(--token--_RwrJOzjwyk) var(--token-NFz1Qq4jY58N);
}
.freeBoxcolor_line__bGs3EmG7DL {
  background: none;
}
.freeBoxsize_extraSmall__bGs3Ex68XH {
  padding: var(--token--sTl7eQd0o5m) var(--token--_RwrJOzjwyk);
}
.freeBoxsize_small__bGs3Ei4N7 {
  padding: var(--token--_RwrJOzjwyk) var(--token-BtJUFoqOYdFj);
}
.freeBoxsize_large__bGs3Eccf1J {
  padding-top: var(--token--sTl7eQd0o5m);
  padding-bottom: var(--token--sTl7eQd0o5m);
}
.freeBoxsize_extraLarge__bGs3E8T7Vo {
  padding: var(--token-1uNYPDGS4IX8) var(--token-Eoj-MvL7r2tr);
}
.freeBoxroundedFull__bGs3Elt31G {
  padding-right: var(--token-GvNk5YsYMaLK);
  padding-left: var(--token-GvNk5YsYMaLK);
}
.freeBoxroundedFull_color_line__bGs3Elt31GMG7DL {
  padding-right: var(--token-Eoj-MvL7r2tr);
  padding-left: var(--token-Eoj-MvL7r2tr);
}
.freeBoxsize_extraLarge_roundedFull__bGs3E8T7VoLt31G {
  padding-right: var(--token-Eoj-MvL7r2tr);
  padding-left: var(--token-Eoj-MvL7r2tr);
  padding-bottom: var(--token-ee0rAJMQ4rLS);
  align-self: auto;
}
.freeBox___4Oxdu {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___4OxdUb1M1 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-Jh7tEU2Nwmui);
}
.slotTargetStartcolor_neutral {
  color: var(--token-wul4AYEsEeDP);
}
.slotTargetStartcolor_muted {
  color: var(--token-QXH4a6vwuXDr);
}
.slotTargetStartcolor_success {
  color: var(--token-TkrF7b2ikf5q);
}
.slotTargetStartcolor_warning {
  color: var(--token-DN8tFDByV03z);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-h0FPEKcMoSkn);
}
.slotTargetStarttype_soft {
  color: var(--token-gCXVgqASKHIK);
}
.slotTargetStarttype_bordered {
  color: var(--token-gCXVgqASKHIK);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-1MTvviNTmNI9);
}
.slotTargetStartsize_small {
  font-size: var(--token-1MTvviNTmNI9);
}
.slotTargetStartsize_large {
  font-size: var(--token-CPhmo_1cVh8n);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-CPhmo_1cVh8n);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-4G3eLSQ8rP-P);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-4G3eLSQ8rP-P);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-J3_QRig6Uo_b);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-J3_QRig6Uo_b);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-gcWJeC-E1Li_);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-gcWJeC-E1Li_);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-T6RwOtj-RHUr);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-T6RwOtj-RHUr);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-jFE0JFFl8bkD);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-jFE0JFFl8bkD);
}
.svg__lXeIk {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.text {
  white-space: pre;
  align-self: flex-start;
  height: auto;
  background: none;
  color: var(--token-7pZ-uqczyyuo);
}
.textcolor_line {
  background: linear-gradient(243deg, #a0b4ed 0%, #315bd8 100%);
}
.freeBox___96Vn8 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___96Vn8Lccd {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-Jh7tEU2Nwmui);
}
.slotTargetEndcolor_neutral {
  color: var(--token-wul4AYEsEeDP);
}
.slotTargetEndcolor_muted {
  color: var(--token-QXH4a6vwuXDr);
}
.slotTargetEndcolor_success {
  color: var(--token-TkrF7b2ikf5q);
}
.slotTargetEndcolor_warning {
  color: var(--token-DN8tFDByV03z);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-h0FPEKcMoSkn);
}
.slotTargetEndtype_soft {
  color: var(--token-gCXVgqASKHIK);
}
.slotTargetEndtype_bordered {
  color: var(--token-gCXVgqASKHIK);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-1MTvviNTmNI9);
}
.slotTargetEndsize_small {
  font-size: var(--token-1MTvviNTmNI9);
}
.slotTargetEndsize_large {
  font-size: var(--token-CPhmo_1cVh8n);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-CPhmo_1cVh8n);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-4G3eLSQ8rP-P);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-4G3eLSQ8rP-P);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-J3_QRig6Uo_b);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-J3_QRig6Uo_b);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-gcWJeC-E1Li_);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-gcWJeC-E1Li_);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-T6RwOtj-RHUr);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-T6RwOtj-RHUr);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-jFE0JFFl8bkD);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-jFE0JFFl8bkD);
}
.svg__lP3 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__bAkMh {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token--_RwrJOzjwyk);
  min-width: 0;
  min-height: 0;
  padding: var(--token--_RwrJOzjwyk) var(--token-NFz1Qq4jY58N);
}
.freeBoxcolor_line__bAkMhmG7DL {
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
}
.freeBoxsize_extraSmall__bAkMhx68XH {
  padding: var(--token--sTl7eQd0o5m) var(--token--_RwrJOzjwyk);
}
.freeBoxsize_small__bAkMhi4N7 {
  padding: var(--token--_RwrJOzjwyk) var(--token-BtJUFoqOYdFj);
}
.freeBoxsize_large__bAkMhCcf1J {
  padding-top: var(--token--sTl7eQd0o5m);
  padding-bottom: var(--token--sTl7eQd0o5m);
}
.freeBoxsize_extraLarge__bAkMh8T7Vo {
  padding: var(--token-1uNYPDGS4IX8) var(--token-Eoj-MvL7r2tr);
}
.freeBoxroundedFull__bAkMhLt31G {
  padding-right: var(--token-GvNk5YsYMaLK);
  padding-left: var(--token-GvNk5YsYMaLK);
}
.freeBoxsize_extraLarge_roundedFull__bAkMh8T7VoLt31G {
  padding-right: var(--token-Eoj-MvL7r2tr);
  padding-left: var(--token-Eoj-MvL7r2tr);
  padding-bottom: var(--token-ee0rAJMQ4rLS);
  align-self: auto;
}
