@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Ubuntu%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-xfNZeGalAnpV: 1.5rem;
  --plasmic-token-size-24: var(--token-xfNZeGalAnpV);
  --token-sHEcQ3WVorZ2: #f8f8f8;
  --plasmic-token-page-bg: var(--token-sHEcQ3WVorZ2);
  --token-67ChBKeXAc6n: 1rem;
  --plasmic-token-size-16: var(--token-67ChBKeXAc6n);
  --token-GG3gY5sUfCvN: #dbeafe;
  --plasmic-token-blue-100: var(--token-GG3gY5sUfCvN);
  --token-QXDYlPPMOxLK: 1rem;
  --plasmic-token-font-md: var(--token-QXDYlPPMOxLK);
  --token-sl77JObdzcaz: #172554;
  --plasmic-token-blue-950: var(--token-sl77JObdzcaz);
  --token-hQCsltbC0zRC: 4rem;
  --plasmic-token-16: var(--token-hQCsltbC0zRC);
  --token-GBMzDjeZi1MI: 2.5rem;
  --plasmic-token-10: var(--token-GBMzDjeZi1MI);
  --token-xg6zwATZijpa: 5rem;
  --plasmic-token-20: var(--token-xg6zwATZijpa);
  --token-Eoj-MvL7r2tr: 1rem;
  --plasmic-token-4: var(--token-Eoj-MvL7r2tr);
  --token-EGk3fft2Z7lq: var(--antd-fontSizeHeading1);
  --plasmic-token-system-heading-1: var(--token-EGk3fft2Z7lq);
  --token-J7f4ontnElZl: 1.25rem;
  --plasmic-token-5: var(--token-J7f4ontnElZl);
  --token-afx07ROvjAst: 0.25rem;
  --plasmic-token-1: var(--token-afx07ROvjAst);
  --token-1uNYPDGS4IX8: 0.5rem;
  --plasmic-token-2: var(--token-1uNYPDGS4IX8);
  --token-H7PhmqbqAAk_: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-H7PhmqbqAAk_);
  --token-rIQJ8jpPwZCD: 0.125rem;
  --plasmic-token-0-5: var(--token-rIQJ8jpPwZCD);
  --token-BtJUFoqOYdFj: 0.5rem;
  --plasmic-token-size-8: var(--token-BtJUFoqOYdFj);
  --token-UuLYdA5YPbBv: Inter;
  --plasmic-token-sans-serif: var(--token-UuLYdA5YPbBv);
  --token-zcjqTmxgOQg-: 1.25;
  --plasmic-token-line-height-md: var(--token-zcjqTmxgOQg-);
  --token--_RwrJOzjwyk: 0.375rem;
  --plasmic-token-size-6: var(--token--_RwrJOzjwyk);
  --token-BDqDXXh-SZTK: #374151;
  --plasmic-token-neutral-neutral: var(--token-BDqDXXh-SZTK);
  --token-SusWDKLPmgHQ: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-SusWDKLPmgHQ);
  --token-WDK0tjEv3sqJ: #6b7280;
  --plasmic-token-muted-muted: var(--token-WDK0tjEv3sqJ);
  --token--sTl7eQd0o5m: 0.25rem;
  --plasmic-token-size-4: var(--token--sTl7eQd0o5m);
  --token-1MTvviNTmNI9: 0.75rem;
  --plasmic-token-font-sm: var(--token-1MTvviNTmNI9);
  --token--Oby3C0wAO95: 1;
  --plasmic-token-line-height-sm: var(--token--Oby3C0wAO95);
  --token-CPhmo_1cVh8n: 1.25rem;
  --plasmic-token-font-lg: var(--token-CPhmo_1cVh8n);
  --token-pTTfqCAOaDWr: 1.4;
  --plasmic-token-line-height-lg: var(--token-pTTfqCAOaDWr);
  --token-BCfRH44nairB: 0.125rem;
  --plasmic-token-size-2: var(--token-BCfRH44nairB);
  --token-5OLWd1c5Vfn5: #2563eb;
  --plasmic-token-brand-brand: var(--token-5OLWd1c5Vfn5);
  --token-lShkcv6KN7je: #16a34a;
  --plasmic-token-success-success: var(--token-lShkcv6KN7je);
  --token-7x60EjneggUO: #facc15;
  --plasmic-token-warning-warning: var(--token-7x60EjneggUO);
  --token-rVWmLrjupW7T: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-rVWmLrjupW7T);
  --token-Ob5pcXlXM2PB: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-Ob5pcXlXM2PB);
  --token-09HLN4joyZU4: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-09HLN4joyZU4);
  --token-Odi-ZWiG_YkN: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-Odi-ZWiG_YkN);
  --token--Xpk-mT1Jjk1: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token--Xpk-mT1Jjk1);
  --token-ArDKDAXwl0vp: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-ArDKDAXwl0vp);
  --token-lMVWPntosR4I: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-lMVWPntosR4I);
  --token-XEHuUVWNtvyM: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-XEHuUVWNtvyM);
  --token-5gXcq2YPoeoC: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-5gXcq2YPoeoC);
  --token-H9xDK6mjrI7O: #86efac;
  --plasmic-token-success-success-border: var(--token-H9xDK6mjrI7O);
  --token-7PVjsGiRSEva: #fde047;
  --plasmic-token-warning-warning-border: var(--token-7PVjsGiRSEva);
  --token-suUFyFSvC_8O: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-suUFyFSvC_8O);
  --token-WB0Br83mHdx6: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-WB0Br83mHdx6);
  --token-U7mA7Mea4RRE: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-U7mA7Mea4RRE);
  --token-p1KGzTeF36Ca: #00000033;
  --plasmic-token-interaction-pressed: var(--token-p1KGzTeF36Ca);
  --token-NFz1Qq4jY58N: 0.625rem;
  --plasmic-token-size-10: var(--token-NFz1Qq4jY58N);
  --token-GvNk5YsYMaLK: 0.75rem;
  --plasmic-token-size-12: var(--token-GvNk5YsYMaLK);
  --token-ee0rAJMQ4rLS: 0.75rem;
  --plasmic-token-3: var(--token-ee0rAJMQ4rLS);
  --token-Jh7tEU2Nwmui: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-Jh7tEU2Nwmui);
  --token-wul4AYEsEeDP: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-wul4AYEsEeDP);
  --token-QXH4a6vwuXDr: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-QXH4a6vwuXDr);
  --token-gCXVgqASKHIK: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-gCXVgqASKHIK);
  --token-DN8tFDByV03z: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-DN8tFDByV03z);
  --token-TkrF7b2ikf5q: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-TkrF7b2ikf5q);
  --token-h0FPEKcMoSkn: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-h0FPEKcMoSkn);
  --token-4G3eLSQ8rP-P: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-4G3eLSQ8rP-P);
  --token-J3_QRig6Uo_b: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-J3_QRig6Uo_b);
  --token-gcWJeC-E1Li_: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-gcWJeC-E1Li_);
  --token-T6RwOtj-RHUr: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-T6RwOtj-RHUr);
  --token-jFE0JFFl8bkD: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-jFE0JFFl8bkD
  );
  --token-7pZ-uqczyyuo: #ffffff;
  --plasmic-token-basic-container-background: var(--token-7pZ-uqczyyuo);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-3GwYshqNL_fA_font-family: "Inter", sans-serif;
  --mixin-3GwYshqNL_fA_font-size: 16px;
  --mixin-3GwYshqNL_fA_font-weight: 400;
  --mixin-3GwYshqNL_fA_font-style: normal;
  --mixin-3GwYshqNL_fA_color: #535353;
  --mixin-3GwYshqNL_fA_text-align: left;
  --mixin-3GwYshqNL_fA_text-transform: none;
  --mixin-3GwYshqNL_fA_line-height: 1.5;
  --mixin-3GwYshqNL_fA_letter-spacing: normal;
  --mixin-3GwYshqNL_fA_white-space: pre-wrap;
  --mixin-3GwYshqNL_fA_user-select: text;
  --mixin-3GwYshqNL_fA_text-decoration-line: none;
  --mixin-3GwYshqNL_fA_text-overflow: clip;
  --mixin-pr3mZf9ZfOed_color: #000000;
  --mixin-pr3mZf9ZfOed_font-weight: 700;
  --mixin-pr3mZf9ZfOed_font-size: 64px;
  --mixin-pr3mZf9ZfOed_line-height: 1;
  --mixin-pr3mZf9ZfOed_letter-spacing: -1px;
  --mixin-pr3mZf9ZfOed_white-space: pre-wrap;
  --mixin-_Hzm083jNk8C_color: #000000;
  --mixin-_Hzm083jNk8C_font-size: 48px;
  --mixin-_Hzm083jNk8C_font-weight: 700;
  --mixin-_Hzm083jNk8C_letter-spacing: -0.5px;
  --mixin-_Hzm083jNk8C_line-height: 1.1;
  --mixin-_Hzm083jNk8C_white-space: pre-wrap;
  --mixin-jlMnaiwrLgOI_color: #0070f3;
  --mixin-jlMnaiwrLgOI_white-space: pre-wrap;
  --mixin-AcGkMgiJKel4_color: #000000;
  --mixin-AcGkMgiJKel4_font-size: 32px;
  --mixin-AcGkMgiJKel4_font-weight: 600;
  --mixin-AcGkMgiJKel4_line-height: 1.2;
  --mixin-AcGkMgiJKel4_white-space: pre-wrap;
  --mixin-NjAyZv7n6VbT_color: #000000;
  --mixin-NjAyZv7n6VbT_font-size: 24px;
  --mixin-NjAyZv7n6VbT_font-weight: 600;
  --mixin-NjAyZv7n6VbT_line-height: 1.3;
  --mixin-NjAyZv7n6VbT_white-space: pre-wrap;
  --mixin-27MTffLpFxBe_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-27MTffLpFxBe_border-bottom-color: #dddddd;
  --mixin-27MTffLpFxBe_border-bottom-style: solid;
  --mixin-27MTffLpFxBe_border-bottom-width: 1px;
  --mixin-27MTffLpFxBe_border-left-color: #dddddd;
  --mixin-27MTffLpFxBe_border-left-style: solid;
  --mixin-27MTffLpFxBe_border-left-width: 1px;
  --mixin-27MTffLpFxBe_border-right-color: #dddddd;
  --mixin-27MTffLpFxBe_border-right-style: solid;
  --mixin-27MTffLpFxBe_border-right-width: 1px;
  --mixin-27MTffLpFxBe_border-top-color: #dddddd;
  --mixin-27MTffLpFxBe_border-top-style: solid;
  --mixin-27MTffLpFxBe_border-top-width: 1px;
  --mixin-27MTffLpFxBe_border-bottom-left-radius: 3px;
  --mixin-27MTffLpFxBe_border-bottom-right-radius: 3px;
  --mixin-27MTffLpFxBe_border-top-left-radius: 3px;
  --mixin-27MTffLpFxBe_border-top-right-radius: 3px;
  --mixin-27MTffLpFxBe_font-family: "Inconsolata";
  --mixin-27MTffLpFxBe_padding-bottom: 1px;
  --mixin-27MTffLpFxBe_padding-left: 4px;
  --mixin-27MTffLpFxBe_padding-right: 4px;
  --mixin-27MTffLpFxBe_padding-top: 1px;
  --mixin-27MTffLpFxBe_white-space: pre-wrap;
  --mixin-HQlEYHAZO1AI_border-left-color: #dddddd;
  --mixin-HQlEYHAZO1AI_border-left-style: solid;
  --mixin-HQlEYHAZO1AI_border-left-width: 3px;
  --mixin-HQlEYHAZO1AI_color: #888888;
  --mixin-HQlEYHAZO1AI_padding-left: 10px;
  --mixin-HQlEYHAZO1AI_white-space: pre-wrap;
  --mixin-tN3BhmXtRQrM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-tN3BhmXtRQrM_border-bottom-color: #dddddd;
  --mixin-tN3BhmXtRQrM_border-bottom-style: solid;
  --mixin-tN3BhmXtRQrM_border-bottom-width: 1px;
  --mixin-tN3BhmXtRQrM_border-left-color: #dddddd;
  --mixin-tN3BhmXtRQrM_border-left-style: solid;
  --mixin-tN3BhmXtRQrM_border-left-width: 1px;
  --mixin-tN3BhmXtRQrM_border-right-color: #dddddd;
  --mixin-tN3BhmXtRQrM_border-right-style: solid;
  --mixin-tN3BhmXtRQrM_border-right-width: 1px;
  --mixin-tN3BhmXtRQrM_border-top-color: #dddddd;
  --mixin-tN3BhmXtRQrM_border-top-style: solid;
  --mixin-tN3BhmXtRQrM_border-top-width: 1px;
  --mixin-tN3BhmXtRQrM_border-bottom-left-radius: 3px;
  --mixin-tN3BhmXtRQrM_border-bottom-right-radius: 3px;
  --mixin-tN3BhmXtRQrM_border-top-left-radius: 3px;
  --mixin-tN3BhmXtRQrM_border-top-right-radius: 3px;
  --mixin-tN3BhmXtRQrM_font-family: "Inconsolata";
  --mixin-tN3BhmXtRQrM_padding-bottom: 3px;
  --mixin-tN3BhmXtRQrM_padding-left: 6px;
  --mixin-tN3BhmXtRQrM_padding-right: 6px;
  --mixin-tN3BhmXtRQrM_padding-top: 3px;
  --mixin-tN3BhmXtRQrM_white-space: pre-wrap;
  --mixin-YqkJRncbixch_display: flex;
  --mixin-YqkJRncbixch_flex-direction: column;
  --mixin-YqkJRncbixch_align-items: stretch;
  --mixin-YqkJRncbixch_justify-content: flex-start;
  --mixin-YqkJRncbixch_list-style-position: outside;
  --mixin-YqkJRncbixch_padding-left: 40px;
  --mixin-YqkJRncbixch_position: relative;
  --mixin-YqkJRncbixch_list-style-type: disc;
  --mixin-YqkJRncbixch_white-space: pre-wrap;
  --mixin-Xit2Ghm2zyx6_display: flex;
  --mixin-Xit2Ghm2zyx6_flex-direction: column;
  --mixin-Xit2Ghm2zyx6_align-items: stretch;
  --mixin-Xit2Ghm2zyx6_justify-content: flex-start;
  --mixin-Xit2Ghm2zyx6_list-style-position: outside;
  --mixin-Xit2Ghm2zyx6_padding-left: 40px;
  --mixin-Xit2Ghm2zyx6_position: relative;
  --mixin-Xit2Ghm2zyx6_list-style-type: decimal;
  --mixin-Xit2Ghm2zyx6_white-space: pre-wrap;
  --mixin-WwP6dKy3TRKO_color: #000000;
  --mixin-WwP6dKy3TRKO_font-size: 20px;
  --mixin-WwP6dKy3TRKO_font-weight: 600;
  --mixin-WwP6dKy3TRKO_line-height: 1.5;
  --mixin-WwP6dKy3TRKO_white-space: pre-wrap;
  --mixin-3bIfAqi0EZrg_color: #000000;
  --mixin-3bIfAqi0EZrg_font-size: 16px;
  --mixin-3bIfAqi0EZrg_font-weight: 600;
  --mixin-3bIfAqi0EZrg_line-height: 1.5;
  --mixin-3bIfAqi0EZrg_white-space: pre-wrap;
  --mixin-b7PlkDj0z86Y_color: #3291ff;
  --mixin-b7PlkDj0z86Y_white-space: pre-wrap;
  --mixin-HJ3I4dPaXYLm_white-space: pre-wrap;
  --mixin-VLl-MmUhwJdc_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-3GwYshqNL_fA_font-family);
  font-size: var(--mixin-3GwYshqNL_fA_font-size);
  font-weight: var(--mixin-3GwYshqNL_fA_font-weight);
  font-style: var(--mixin-3GwYshqNL_fA_font-style);
  color: var(--mixin-3GwYshqNL_fA_color);
  text-align: var(--mixin-3GwYshqNL_fA_text-align);
  text-transform: var(--mixin-3GwYshqNL_fA_text-transform);
  line-height: var(--mixin-3GwYshqNL_fA_line-height);
  letter-spacing: var(--mixin-3GwYshqNL_fA_letter-spacing);
  white-space: var(--mixin-3GwYshqNL_fA_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-pr3mZf9ZfOed_color);
  font-weight: var(--mixin-pr3mZf9ZfOed_font-weight);
  font-size: var(--mixin-pr3mZf9ZfOed_font-size);
  line-height: var(--mixin-pr3mZf9ZfOed_line-height);
  letter-spacing: var(--mixin-pr3mZf9ZfOed_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-_Hzm083jNk8C_color);
  font-size: var(--mixin-_Hzm083jNk8C_font-size);
  font-weight: var(--mixin-_Hzm083jNk8C_font-weight);
  letter-spacing: var(--mixin-_Hzm083jNk8C_letter-spacing);
  line-height: var(--mixin-_Hzm083jNk8C_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-jlMnaiwrLgOI_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-AcGkMgiJKel4_color);
  font-size: var(--mixin-AcGkMgiJKel4_font-size);
  font-weight: var(--mixin-AcGkMgiJKel4_font-weight);
  line-height: var(--mixin-AcGkMgiJKel4_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-NjAyZv7n6VbT_color);
  font-size: var(--mixin-NjAyZv7n6VbT_font-size);
  font-weight: var(--mixin-NjAyZv7n6VbT_font-weight);
  line-height: var(--mixin-NjAyZv7n6VbT_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-27MTffLpFxBe_font-family);
  border-radius: var(--mixin-27MTffLpFxBe_border-top-left-radius)
    var(--mixin-27MTffLpFxBe_border-top-right-radius)
    var(--mixin-27MTffLpFxBe_border-bottom-right-radius)
    var(--mixin-27MTffLpFxBe_border-bottom-left-radius);
  padding: var(--mixin-27MTffLpFxBe_padding-top)
    var(--mixin-27MTffLpFxBe_padding-right)
    var(--mixin-27MTffLpFxBe_padding-bottom)
    var(--mixin-27MTffLpFxBe_padding-left);
  border-top: var(--mixin-27MTffLpFxBe_border-top-width)
    var(--mixin-27MTffLpFxBe_border-top-style)
    var(--mixin-27MTffLpFxBe_border-top-color);
  border-right: var(--mixin-27MTffLpFxBe_border-right-width)
    var(--mixin-27MTffLpFxBe_border-right-style)
    var(--mixin-27MTffLpFxBe_border-right-color);
  border-bottom: var(--mixin-27MTffLpFxBe_border-bottom-width)
    var(--mixin-27MTffLpFxBe_border-bottom-style)
    var(--mixin-27MTffLpFxBe_border-bottom-color);
  border-left: var(--mixin-27MTffLpFxBe_border-left-width)
    var(--mixin-27MTffLpFxBe_border-left-style)
    var(--mixin-27MTffLpFxBe_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-HQlEYHAZO1AI_color);
  padding-left: var(--mixin-HQlEYHAZO1AI_padding-left);
  border-left: var(--mixin-HQlEYHAZO1AI_border-left-width)
    var(--mixin-HQlEYHAZO1AI_border-left-style)
    var(--mixin-HQlEYHAZO1AI_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-tN3BhmXtRQrM_font-family);
  border-radius: var(--mixin-tN3BhmXtRQrM_border-top-left-radius)
    var(--mixin-tN3BhmXtRQrM_border-top-right-radius)
    var(--mixin-tN3BhmXtRQrM_border-bottom-right-radius)
    var(--mixin-tN3BhmXtRQrM_border-bottom-left-radius);
  padding: var(--mixin-tN3BhmXtRQrM_padding-top)
    var(--mixin-tN3BhmXtRQrM_padding-right)
    var(--mixin-tN3BhmXtRQrM_padding-bottom)
    var(--mixin-tN3BhmXtRQrM_padding-left);
  border-top: var(--mixin-tN3BhmXtRQrM_border-top-width)
    var(--mixin-tN3BhmXtRQrM_border-top-style)
    var(--mixin-tN3BhmXtRQrM_border-top-color);
  border-right: var(--mixin-tN3BhmXtRQrM_border-right-width)
    var(--mixin-tN3BhmXtRQrM_border-right-style)
    var(--mixin-tN3BhmXtRQrM_border-right-color);
  border-bottom: var(--mixin-tN3BhmXtRQrM_border-bottom-width)
    var(--mixin-tN3BhmXtRQrM_border-bottom-style)
    var(--mixin-tN3BhmXtRQrM_border-bottom-color);
  border-left: var(--mixin-tN3BhmXtRQrM_border-left-width)
    var(--mixin-tN3BhmXtRQrM_border-left-style)
    var(--mixin-tN3BhmXtRQrM_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-YqkJRncbixch_display);
  flex-direction: var(--mixin-YqkJRncbixch_flex-direction);
  align-items: var(--mixin-YqkJRncbixch_align-items);
  justify-content: var(--mixin-YqkJRncbixch_justify-content);
  list-style-position: var(--mixin-YqkJRncbixch_list-style-position);
  padding-left: var(--mixin-YqkJRncbixch_padding-left);
  position: var(--mixin-YqkJRncbixch_position);
  list-style-type: var(--mixin-YqkJRncbixch_list-style-type);
  column-gap: var(--mixin-YqkJRncbixch_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Xit2Ghm2zyx6_display);
  flex-direction: var(--mixin-Xit2Ghm2zyx6_flex-direction);
  align-items: var(--mixin-Xit2Ghm2zyx6_align-items);
  justify-content: var(--mixin-Xit2Ghm2zyx6_justify-content);
  list-style-position: var(--mixin-Xit2Ghm2zyx6_list-style-position);
  padding-left: var(--mixin-Xit2Ghm2zyx6_padding-left);
  position: var(--mixin-Xit2Ghm2zyx6_position);
  list-style-type: var(--mixin-Xit2Ghm2zyx6_list-style-type);
  column-gap: var(--mixin-Xit2Ghm2zyx6_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-WwP6dKy3TRKO_color);
  font-size: var(--mixin-WwP6dKy3TRKO_font-size);
  font-weight: var(--mixin-WwP6dKy3TRKO_font-weight);
  line-height: var(--mixin-WwP6dKy3TRKO_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-3bIfAqi0EZrg_color);
  font-size: var(--mixin-3bIfAqi0EZrg_font-size);
  font-weight: var(--mixin-3bIfAqi0EZrg_font-weight);
  line-height: var(--mixin-3bIfAqi0EZrg_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-b7PlkDj0z86Y_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
