.frame41 {
  background: rgba(247, 247, 247, 1);
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  column-gap: 1px;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--token-0foQbaM8chBi);
  padding-bottom: var(--token-0foQbaM8chBi);
  position: relative;
  border-radius: 12px;
}
.frame29 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}
.text__zl00Q {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame35 {
  width: 63px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text___9Mfse {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame30 {
  width: 86px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text___63Vl {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame31 {
  width: 84px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text__u0U9Q {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame32 {
  width: 67px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text__vncsD {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame33 {
  width: 86px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text__fhLAn {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame34 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.text__gSXuH {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame37 {
  width: 73px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text__qeLj3 {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame38 {
  width: 80px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text__q8C4Q {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame39 {
  width: 87px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text__eaLrh {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame40 {
  width: 77px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text__q3APs {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
