.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-ByKhFYKzeDtr);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__u5Il1 {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-ByKhFYKzeDtr);
}
.radio__sePtv:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__uhdvz:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__mLfCx:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
