.root {
  display: block;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(193, 193, 193, 1);
  position: relative;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.1s;
}
.rootselect {
  color: #315bd8;
  font-weight: 500;
  padding-bottom: var(--token-cfon0PHiXQoL);
  border-bottom: var(--token-IUVIp1DHBSFd) solid #315bd8;
}
