.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-TXwI_7j7ES_G);
  font-family: var(--token-peg5BN3rnWL2);
  font-size: var(--token-8bj7jzZjm0r8);
  line-height: var(--token-VPHP1EtSWxW8);
  width: 100%;
  column-gap: var(--token-zh1l4PIPX7yL);
  min-width: 0;
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__wEyvD {
  display: flex;
  position: relative;
  width: var(--token-bMC2QgTyPw3G);
  height: var(--token-bMC2QgTyPw3G);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-PS0RjSEf2PI6);
}
.ariaRadio[data-selected] .freeBox__wEyvD {
  background: var(--token-XfNMbHMju4Pe);
  border-color: var(--token-XfNMbHMju4Pe);
}
.ariaRadio[data-focus-visible] .freeBox__wEyvD {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-XfNMbHMju4Pe);
  outline-width: 2px;
}
.freeBox__cskKl {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__cskKl {
  width: var(--token-0sOUv73M7XVg);
  height: var(--token-0sOUv73M7XVg);
  flex-shrink: 0;
  display: block;
}
