.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-H3T09TAYDi-o);
  row-gap: 8px;
  column-gap: 0px;
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-I6dRDo46VPs1);
}
.h2 {
  display: flex;
  flex-direction: row;
}
.h4 {
  display: flex;
  flex-direction: row;
}
.slotTargetSlot2 {
  color: var(--token-T5579rRjm6Au);
}
