.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-ByKhFYKzeDtr);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-xFVcsM13mbFw);
  width: 100%;
  font-size: var(--token-8bj7jzZjm0r8);
  line-height: var(--token-VPHP1EtSWxW8);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-0sOUv73M7XVg);
  padding: var(--token-0sOUv73M7XVg) var(--token-X6BHTvzNYTFV)
    var(--token-0sOUv73M7XVg) var(--token-XfvwMJZpJ_Zi);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-X6BHTvzNYTFV);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-X6BHTvzNYTFV);
  flex-shrink: 0;
  border-radius: var(--token-0sOUv73M7XVg);
  border: 1px none black;
}
.svg {
  width: var(--token-0foQbaM8chBi);
  height: var(--token-0foQbaM8chBi);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__z2Ug {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
