.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-TXwI_7j7ES_G);
  font-family: var(--token-peg5BN3rnWL2);
  font-size: var(--token-8bj7jzZjm0r8);
  line-height: var(--token-VPHP1EtSWxW8);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-ByKhFYKzeDtr);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-bpcreC_N0zzU);
  line-height: var(--token-kwLySWxBTW81);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-ornn9ZsFsxK9);
  line-height: var(--token-k9QT85aNZV1b);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-1hzfNnqitG7t);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-2WAmeqtAT3wE);
  display: block;
}
