.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-RGrgGOWyJB_w);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-bMC2QgTyPw3G);
  width: var(--token-bMC2QgTyPw3G);
  border-radius: 99px;
  border: 1px solid var(--token-XfNMbHMju4Pe);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-XfNMbHMju4Pe);
  outline-offset: 1px;
}
