.root:global(.__wab_instance) {
  object-fit: cover;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance) {
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
.menuItem__qcvQr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 500;
}
.text__z4Ul4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__ktwA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uoQ5V {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.svg___7JvlN {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text___9H6PR {
  white-space: pre;
  text-overflow: ellipsis;
}
.menuItem__uo6E3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vckRx {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.svg__qLjd3 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__rVlZ2 {
  white-space: pre;
  text-overflow: ellipsis;
}
.menuItem__e7DJq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__sn8Xv {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.svg__i9Ivh {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__bih8C {
  white-space: pre;
  text-overflow: ellipsis;
}
.menuItem__ymAnG:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__bxyq9 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.svg__dyj1Q {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__cXlsV {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__w1JX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__sm6Wq {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.svg__yhylU {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__lZPuJ {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__yk8LC {
  position: relative;
  flex-grow: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yk8LC {
    display: none;
  }
}
.menuItem__fSln:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___5WTp3 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.svg__lDrl {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__eqGn {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__jYtEf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___4SQX {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.svg__rKsCt {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text___9ZCcR {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__o4ZjD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__gmFt0 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.svg__rpKNr {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__rt7Aj {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__bulVt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__caQz0 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}
.svg__urI2V {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text___04QVr {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
