.root:global(.__wab_instance) {
  position: relative;
  background: linear-gradient(243.22157861940968deg, #a0b4ed 0%, #315bd8 100%);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-zh1l4PIPX7yL);
  font-family: var(--token-peg5BN3rnWL2);
  font-size: var(--token-8bj7jzZjm0r8);
  line-height: var(--token-VPHP1EtSWxW8);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-0sOUv73M7XVg);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-6KArr9gqTMFN);
  outline-offset: 1px;
  outline-color: var(--token-XfNMbHMju4Pe);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-pjipjJBp5zHc);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-kCVQt_E6LlRn);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-pTKJD1-xcLyW);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-s1rQirZ7vFgL);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-2WAmeqtAT3wE);
}
.rootcolor_line:global(.__wab_instance) {
  background: none;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-kwLySWxBTW81);
  font-size: var(--token-bpcreC_N0zzU);
  column-gap: var(--token-6KArr9gqTMFN);
  row-gap: 0px;
  border-radius: var(--token-ByKhFYKzeDtr);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-bpcreC_N0zzU);
  line-height: var(--token-kwLySWxBTW81);
  column-gap: var(--token-ByKhFYKzeDtr);
  row-gap: 0px;
  border-radius: var(--token-ByKhFYKzeDtr);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-ornn9ZsFsxK9);
  line-height: var(--token-k9QT85aNZV1b);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-ornn9ZsFsxK9);
  line-height: var(--token-k9QT85aNZV1b);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-dTk1gtFWZr3K);
  border-radius: var(--token-0sOUv73M7XVg);
}
.softBackgroundcolor_neutral {
  background: var(--token-AmOXH9035NGE);
}
.softBackgroundcolor_muted {
  background: var(--token-arzZ78-EUI2x);
}
.softBackgroundcolor_success {
  background: var(--token-Tkjd9i5DvjLF);
}
.softBackgroundcolor_warning {
  background: var(--token-ECsQsSzxQAA4);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-1dFibNXxVCnZ);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-0sOUv73M7XVg);
  border: 0px solid var(--token-b2U0oGP2vAjH);
}
.bordercolor_neutral {
  border-color: var(--token-wsWAniQ2g_KB);
}
.bordercolor_muted {
  border-color: var(--token-It1b1hRvNhCS);
}
.bordercolor_success {
  border-color: var(--token-nIEvZHZJQBmI);
}
.bordercolor_warning {
  border-color: var(--token-xG961pbJM5Ao);
}
.bordercolor_errorDestructive {
  border-color: var(--token-Bha-6zNu4o_4);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-0sOUv73M7XVg);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-ogdd7zGeDTJE);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-CpTClNHJlyHz);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-B66Eiz8gfKZF);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__qGsdz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-0sOUv73M7XVg);
  min-width: 0;
  min-height: 0;
  padding: var(--token-0sOUv73M7XVg) var(--token-XfvwMJZpJ_Zi);
}
.freeBoxcolor_line__qGsdzYLcSg {
  background: none;
}
.freeBoxsize_extraSmall__qGsdzOhOd4 {
  padding: var(--token-ByKhFYKzeDtr) var(--token-0sOUv73M7XVg);
}
.freeBoxsize_small__qGsdz1LwO {
  padding: var(--token-0sOUv73M7XVg) var(--token-zh1l4PIPX7yL);
}
.freeBoxsize_large__qGsdzhJw20 {
  padding-top: var(--token-ByKhFYKzeDtr);
  padding-bottom: var(--token-ByKhFYKzeDtr);
}
.freeBoxsize_extraLarge__qGsdzAnVbD {
  padding: var(--token-cfon0PHiXQoL) var(--token-0tl2H1TRPHhV);
}
.freeBoxroundedFull__qGsdzhMku {
  padding-right: var(--token-C53jGHipSeKJ);
  padding-left: var(--token-C53jGHipSeKJ);
}
.freeBoxcolor_line_roundedFull__qGsdzYLcSgHMku {
  padding-right: var(--token-0tl2H1TRPHhV);
  padding-left: var(--token-0tl2H1TRPHhV);
}
.freeBoxsize_extraLarge_roundedFull__qGsdzAnVbDHMku {
  padding-right: var(--token-0tl2H1TRPHhV);
  padding-left: var(--token-0tl2H1TRPHhV);
  padding-bottom: var(--token-PKf5XaFatup3);
  align-self: auto;
}
.freeBox___9U7Hl {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___9U7HlnZcwG {
  display: flex;
}
.slotTargetStart {
  color: var(--token-9v_51SbYnE4y);
}
.slotTargetStartcolor_neutral {
  color: var(--token-pitSCt6izopp);
}
.slotTargetStartcolor_muted {
  color: var(--token--jnd5WDGWvhn);
}
.slotTargetStartcolor_success {
  color: var(--token-SybuiV0ns5zN);
}
.slotTargetStartcolor_warning {
  color: var(--token-oXSbFroB-5n-);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-_XDghcPaSbUi);
}
.slotTargetStarttype_soft {
  color: var(--token-1PwDTOlrMzPf);
}
.slotTargetStarttype_bordered {
  color: var(--token-1PwDTOlrMzPf);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-bpcreC_N0zzU);
}
.slotTargetStartsize_small {
  font-size: var(--token-bpcreC_N0zzU);
}
.slotTargetStartsize_large {
  font-size: var(--token-ornn9ZsFsxK9);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-ornn9ZsFsxK9);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-MlW31sIUQBDh);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-MlW31sIUQBDh);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-2hYkKCHoiAf8);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-2hYkKCHoiAf8);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-9zmbH3n5a57Z);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-9zmbH3n5a57Z);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-9KDWsaVyBBKT);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-9KDWsaVyBBKT);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-W8UEybtrbkd_);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-W8UEybtrbkd_);
}
.svg__cgJ3 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.text {
  white-space: pre;
  align-self: flex-start;
  height: auto;
  background: none;
  color: var(--token-RGrgGOWyJB_w);
}
.textcolor_line {
  background: linear-gradient(243deg, #a0b4ed 0%, #315bd8 100%);
}
.freeBox__c3OEd {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__c3OEdFlzy {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-9v_51SbYnE4y);
}
.slotTargetEndcolor_neutral {
  color: var(--token-pitSCt6izopp);
}
.slotTargetEndcolor_muted {
  color: var(--token--jnd5WDGWvhn);
}
.slotTargetEndcolor_success {
  color: var(--token-SybuiV0ns5zN);
}
.slotTargetEndcolor_warning {
  color: var(--token-oXSbFroB-5n-);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-_XDghcPaSbUi);
}
.slotTargetEndtype_soft {
  color: var(--token-1PwDTOlrMzPf);
}
.slotTargetEndtype_bordered {
  color: var(--token-1PwDTOlrMzPf);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-bpcreC_N0zzU);
}
.slotTargetEndsize_small {
  font-size: var(--token-bpcreC_N0zzU);
}
.slotTargetEndsize_large {
  font-size: var(--token-ornn9ZsFsxK9);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-ornn9ZsFsxK9);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-MlW31sIUQBDh);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-MlW31sIUQBDh);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-2hYkKCHoiAf8);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-2hYkKCHoiAf8);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-9zmbH3n5a57Z);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-9zmbH3n5a57Z);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-9KDWsaVyBBKT);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-9KDWsaVyBBKT);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-W8UEybtrbkd_);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-W8UEybtrbkd_);
}
.svg__juKHa {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__osfS3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-0sOUv73M7XVg);
  min-width: 0;
  min-height: 0;
  padding: var(--token-0sOUv73M7XVg) var(--token-XfvwMJZpJ_Zi);
}
.freeBoxcolor_line__osfS3YLcSg {
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
}
.freeBoxsize_extraSmall__osfS3OhOd4 {
  padding: var(--token-ByKhFYKzeDtr) var(--token-0sOUv73M7XVg);
}
.freeBoxsize_small__osfS31LwO {
  padding: var(--token-0sOUv73M7XVg) var(--token-zh1l4PIPX7yL);
}
.freeBoxsize_large__osfS3HJw20 {
  padding-top: var(--token-ByKhFYKzeDtr);
  padding-bottom: var(--token-ByKhFYKzeDtr);
}
.freeBoxsize_extraLarge__osfS3AnVbD {
  padding: var(--token-cfon0PHiXQoL) var(--token-0tl2H1TRPHhV);
}
.freeBoxroundedFull__osfS3HMku {
  padding-right: var(--token-C53jGHipSeKJ);
  padding-left: var(--token-C53jGHipSeKJ);
}
.freeBoxsize_extraLarge_roundedFull__osfS3AnVbDHMku {
  padding-right: var(--token-0tl2H1TRPHhV);
  padding-left: var(--token-0tl2H1TRPHhV);
  padding-bottom: var(--token-PKf5XaFatup3);
  align-self: auto;
}
